<h1> Welcome to Your Profile Page </h1>
<br>
  <%= link_to 'Back to User Index', users_index_path %> |  <%= link_to 'ToDo List', todos_path %>
<br>
---------------------------
<br>
<br>
<%= @user.email %>
